* {
  margin: 0;
  padding: 0;
}

/**************** Text Lines *******************/
.text-cont {
  font-size: 30px;
  font-weight: 300;
  color: black;
  background: white;
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 300px;
}

.f-style1 {
  font-family: "Bungee Inline";
}
.f-style2 {
  font-family: "Indie Flower";
}
.f-style3 {
  font-family: "Oxanium";
}
.f-style4 {
  font-family: "Spartan";
}
.f-style5 {
  font-family: "Reenie Beanie";
}
.f-style6 {
  font-family: "Anton";
}
.f-style7 {
  font-family: "Satisfy";
}
.f-style8 {
  font-family: "Anton";
}

.portfolio-word {
  font-weight: 800;
  font-size: 50px;
  color: black;
}
.skills-word {
  font-weight: 800;
  font-size: 50px;
  color: black;
  border: solid black 1px;
  padding: 2px;
}
.resume-word {
  font-weight: 800;
  font-size: 50px;
  color: black;
}
.contact-word {
  font-weight: 800;
  font-size: 50px;
  color: black;
}

.welcome {
  font-size: 60px;
  margin-bottom: 40px;
  margin-top: -90px;
  font-family: "Monoton";
  word-spacing: 20px;
  color: mediumseagreen;
}
/**************** Portfolio - flip card *******************/
.portfolio-wrapper {
  background-color: white;
  width: 100%;
  padding-top: 1px;
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 270px;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card-text {
  font-size: 12px;
}

.portfolio-title {
  font-family: "Reenie Beanie";
  margin-top: 30px;
  color: black;
  font-size: 80px;
}
.portfolio-title h1 {
  font-size: 80px;
}
.portfolio-back {
  font-family: "Reenie Beanie";
  color: black;
  font-size: 50px;
}
.portfolio-back:hover {
  font-family: "Satisfy";
  color: black;
  font-size: 50px;
}

/**************** Resume *******************/

.modal-image {
  width: 100%;
  height: 100%;
}

/**************** Footer2 *******************/
/* footer {
  position: fixed;
  display: inline-block;
  bottom: 0;
  width: 100%;
  background: black;
  /* background-color: #282c34;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}  */

.footer-cont2 {
  background: white;
  height: 200px;
}

.icon {
  color: black;
  font-size: 25px;
}

.footer-copyright {
  color: rgb(180, 170, 170);
}

.foo {
  padding-top: 90px;
}
