* {
  margin: 0;
  padding: 0;
}

/**************** Text Lines *******************/
.text-cont {
  font-size: 30px;
  font-weight: 300;
  color: white;
  background: black;
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 300px;
}

.f-style1 {
  font-family: "Bungee Inline";
}
.f-style2 {
  font-family: "Indie Flower";
}
.f-style3 {
  font-family: "Oxanium";
}
.f-style4 {
  font-family: "Spartan";
}
.f-style5 {
  font-family: "Reenie Beanie";
}
.f-style6 {
  font-family: "Lacquer";
}
.f-style7 {
  font-family: "Satisfy";
}
.f-style8 {
  font-family: "Anton";
}

.portfolio-word {
  font-weight: 800;
  font-size: 50px;
  color: white;
}
.skills-word {
  font-weight: 800;
  font-size: 50px;
  color: white;
  border: solid white 1px;
  padding: 2px;
}
.resume-word {
  font-weight: 800;
  font-size: 50px;
  color: white;
}
.contact-word {
  font-weight: 800;
  font-size: 50px;
  color: white;
}

.welcome {
  font-size: 60px;
  margin-bottom: 40px;
  margin-top: -90px;
  font-family: "Monoton";
  word-spacing: 20px;
  color: mediumseagreen;
}
/**************** Portfolio - flip card *******************/

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 250px;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

/**************** Resume *******************/

.modal-image {
  width: 100%;
  height: 100%;
}

/**************** Footer2 *******************/
.footer-cont2 {
  background: black;
  height: 200px;
}

.icon {
  color: white;
  font-size: 25px;
}

.footer-copyright {
  color: white;
}
